
<app-navbar></app-navbar>
<!-- <app-localizacion></app-localizacion> -->

<div class="container main-container">

  <div class="row">

    <div class="col-md-4">

      <div *ngIf="!marcadorSel" class="animated fadeIn fast">
        <div class="alert alert-info" role="alert">
          <strong>Haga click</strong>
        seleccione uno de los turistas.
        </div>
      </div>

      <div *ngIf="marcadorSel"
            class="animated fadeIn fast">
        <h5 class="text-center text-primary">DATOS PERSONALES</h5>
        <hr>
        
        <div class="form-group text-center">
          <img src="https://pbs.twimg.com/profile_images/1146847934555787269/QfTUfU7y_200x200.jpg"  alt="se hizo una imagen">
          <div class="container mt-2">
            <button class="btn btn-danger">Peligro Perdida</button>
            <button class="btn btn-success mt-2" (click)="invocarSweetAlert()">Notificar autoridades</button>
          </div>
        </div>

        <div class="form-group">
          <label>Nombres</label>
          <input [(ngModel)]="marcadorSel.nombre"
                  type="text"
                  name="nombre"
                  class="form-control"
                  placeholder="Roxana">
        </div>

        <div class="form-group">
          <label>Apellidos</label>
          <input [(ngModel)]="marcadorSel.apellido"
          type="text"
          name="apellido"
          class="form-control"
          placeholder="Ramirez Mercado">
        </div>



        <div class="form-group">
          <label>Edad</label>
          <input [(ngModel)]="marcadorSel.edad"
          type="text"
          name="edad"
          class="form-control"
          placeholder="30">
        </div>

        <div class="form-group">
          <label>Sexo</label>
          <input [(ngModel)]="marcadorSel.sexo"
          type="text"
          name="sexo"
          class="form-control"
          placeholder="Femenino">
        </div>

        <div class="form-group">
          <label>Pasaporte</label>
          <input [(ngModel)]="marcadorSel.pasaporte"
          type="text"
          name="pasaporte"
          class="form-control"
          placeholder="8857448959484">
        </div>
        


        <!-- <button (click)="_ms.guardarMarcadores()"
                type="button" class="btn btn-outline-primary btn-block">
          Guardar Cambios
        </button> -->
      </div>


    </div>

    <div class="col-md-8 animated fadeIn fast">

      <sebm-google-map
                [latitude]="lat"
                [longitude]="lng"
                [zoom]="zoom"
                (mapClick)="clickMapa( $event )">

        <sebm-google-map-marker *ngFor="let marcador of _ms.marcadores; let i = index"
                [latitude]="marcador.lat"
                [longitude]="marcador.lng"
                [title]="marcador.titulo"
                [markerDraggable]="marcador.draggable"
                (markerClick)="clickMarcador( marcador, i )"
                (dragEnd)="dragEndMarcador( marcador, $event )">
            <sebm-google-map-info-window>
               <strong>{{ marcador.titulo }}</strong>
              <p *ngIf="marcador.desc">
                {{ marcador.desc }}
              </p>
              <p>
                <a (click)="_ms.borrarMarcador(i); marcadorSel=null;"
                    class="text-danger puntero">Borrar marcador</a>
              </p>
            </sebm-google-map-info-window>
        </sebm-google-map-marker>

      </sebm-google-map>

    </div>
  </div>

</div>
